.header {
    width: 100%;
    height: var(--layout-header-height);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &__nav,
    &__nav__list,
    &__nav__item {
        display: flex;
        flex-direction: row;
    }

    &__nav,
    &__nav__list {
        justify-content: flex-end;
        align-items: center;
    }

    &__nav__list {
        gap: 1rem;
        list-style: none;
        color: var(--color-text);
    }

    &__nav__item {
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        rotate: 0deg;
        transition: rotate 200ms ease-in-out;

        &:hover,
        &:focus-within {
            background-color: var(--color-text);
            rotate: -2deg;

            .header__nav__link {
                color: var(--color-background);
            }
        }

        &:focus-within {
            outline: 2px solid var(--color-background);
            outline-offset: -4px;
        }
    }

    &__nav__link {
        --link-size: 1.5rem;

        font-family: var(--layout-font-heading);
        color: var(--color-text);
        font-size: var(--link-size);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.2px;
        outline: none;
    }
}
