---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Conteúdo em breve.
`;
---

<Layout title="Metal Punk Coimbra Fest">
    <h1 class="mb-10">Metal Punk Coimbra Fest</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
</Layout>
