---
import Flash from './Flash.astro';
---

<section id="about" class="about">
    <div class="about__content">
        <h2 class="about__title">Sobre</h2>
        <p class="about__description">Junta-te a nós para um festival independente de metal e punk em Coimbra!</p>
        <p class="about__description">
            Queremos criar um espaço seguro e acolhedor para todos os amantes de música pesada, onde celembramos a música alternativa e os valores de inclusão e
            igualdade. Vem descobrir novos talentos e fazer parte de uma comunidade unida pela paixão musical e pelos ideais de respeito mútuo.
        </p>
        <p class="about__description">
            Este é mais do que um simples festival - é uma declaração de que Coimbra abraça a diversidade e a cultura alternativa. Não percas esta oportunidade
            de viver uma experiência musical única e significativa!
        </p>
        <Flash />
    </div>
</section>
