---
import Flash from './Flash.astro';
---

<section id="about" class="about">
    <div class="about__content">
        <h2 class="about__title">Sobre</h2>
        <p class="about__description">
            Aqui pode ficar um texto que explica, de forma entusiástica, a razão pela qual estamos a organizar o festival. Máximo 60 palavras.
        </p>
    </div>
    <Flash />
</section>
