<section id="schedule" class="bands">
    <div class="column column-reverse">
        <a href="#" class="band__item">
            <h3 class="band__name">Alpha Warhead</h3>
            <p class="band__genre"><span class="sr-only">O estilo musical é</span>Thrash Metal</p>
            <figure class="band__figure">
                <img
                    loading="lazy"
                    class="band__image"
                    width="400"
                    height="500"
                    src="/images/bands/alpha-warhead.jpg"
                    alt="A banda Alpha Warhead a tocar em palco."
                />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Em breve</h3>
            <figure class="band__figure">
                <img
                    loading="lazy"
                    class="band__image"
                    width="400"
                    height="500"
                    src="/images/em-breve.jpg"
                    alt="Logo do festival, que serve como imagem temporária até ser anunciada a banda"
                />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Em breve</h3>
            <figure class="band__figure">
                <img
                    loading="lazy"
                    class="band__image"
                    width="400"
                    height="500"
                    src="/images/em-breve.jpg"
                    alt="Logo do festival, que serve como imagem temporária até ser anunciada a banda"
                />
            </figure>
        </a>
    </div>
    <div class="column">
        <a href="#" class="band__item">
            <h3 class="band__name">Em breve</h3>
            <figure class="band__figure">
                <img
                    loading="lazy"
                    class="band__image"
                    width="400"
                    height="500"
                    src="/images/em-breve.jpg"
                    alt="Logo do festival, que serve como imagem temporária até ser anunciada a banda"
                />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Em breve</h3>
            <figure class="band__figure">
                <img
                    loading="lazy"
                    class="band__image"
                    width="400"
                    height="500"
                    src="/images/em-breve.jpg"
                    alt="Logo do festival, que serve como imagem temporária até ser anunciada a banda"
                />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Em breve</h3>
            <figure class="band__figure">
                <img
                    loading="lazy"
                    class="band__image"
                    width="400"
                    height="500"
                    src="/images/em-breve.jpg"
                    alt="Logo do festival, que serve como imagem temporária até ser anunciada a banda"
                />
            </figure>
        </a>
    </div>
</section>
