<section id="schedule" class="bands">
    <div class="column column-reverse">
        <a href="#" class="band__item">
            <h3 class="band__name">Spin the Skull</h3>
            <p class="band__genre"><span class="sr-only">Genre is</span>Heavy Rock/Punk</p>
            <figure class="band__figure">
                <img class="band__image" src="https://tympanus.net/Development/ColumnScroll/1.04213a58.jpg" alt="" title="" height="" width="" />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Spin the Skull</h3>
            <p class="band__genre"><span class="sr-only">Genre is</span>Heavy Rock/Punk</p>
            <figure class="band__figure">
                <img class="band__image" src="https://tympanus.net/Development/ColumnScroll/2.3ff1fdb6.jpg" alt="" title="" height="" width="" />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Spin the Skull</h3>
            <p class="band__genre"><span class="sr-only">Genre is</span>Heavy Rock/Punk</p>
            <figure class="band__figure">
                <img class="band__image" src="https://tympanus.net/Development/ColumnScroll/18.763d23f6.jpg" alt="" title="" height="" width="" />
            </figure>
        </a>
    </div>
    <div class="column">
        <a href="#" class="band__item">
            <h3 class="band__name">Spin the Skull</h3>
            <p class="band__genre"><span class="sr-only">Genre is</span>Heavy Rock/Punk</p>
            <figure class="band__figure">
                <img class="band__image" src="https://tympanus.net/Development/ColumnScroll/9.ea63bab4.jpg" alt="" title="" height="" width="" />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Spin the Skull</h3>
            <p class="band__genre"><span class="sr-only">Genre is</span>Heavy Rock/Punk</p>
            <figure class="band__figure">
                <img class="band__image" src="https://tympanus.net/Development/ColumnScroll/10.57de09c7.jpg" alt="" title="" height="" width="" />
            </figure>
        </a>
        <a href="#" class="band__item">
            <h3 class="band__name">Spin the Skull</h3>
            <p class="band__genre"><span class="sr-only">Genre is</span>Heavy Rock/Punk</p>
            <figure class="band__figure">
                <img class="band__image" src="https://tympanus.net/Development/ColumnScroll/17.3450839a.jpg" alt="" title="" height="" width="" />
            </figure>
        </a>
    </div>
</section>
