---
import Logo from '../components/Logo.astro';

const navItems = [{ linkText: 'Home', href: '/' }];
---

<nav>
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul>
                {navItems.map((item) => (
                    <li>
                        <a href={item.href}>{item.linkText}</a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
