---
import Logo from '../components/Logo.astro';

const navItems = [
    {
        linkText: 'Início',
        href: '/'
    },
    {
        linkText: 'Sobre',
        href: '/#about'
    },
    {
        linkText: 'Bandas',
        href: '/#schedule'
    },
    {
        linkText: 'Local',
        href: '/#info'
    }
];
---

<header class="header">
    <Logo />

    <nav class="header__nav">
        {
            !!navItems?.length && (
                <ul class="header__nav__list">
                    {navItems.map((item) => (
                        <li class="header__nav__item">
                            <a class="header__nav__link" href={item.href}>
                                {item.linkText}
                            </a>
                        </li>
                    ))}
                </ul>
            )
        }
    </nav>
</header>
