---
import { NAV_ITEMS } from '../constants/menu';
import Skull from './Skull.astro';
---

<header class="header" data-testid="mpx-header">
    <Skull />

    <nav class="header__nav">
        {
            !!NAV_ITEMS?.length && (
                <ul class="header__nav__list">
                    {NAV_ITEMS.map((item) => (
                        <li class="header__nav__item">
                            <a class="header__nav__link" href={item.href}>
                                {item.linkText}
                            </a>
                        </li>
                    ))}
                </ul>
            )
        }
    </nav>
</header>
