---
import HeroBrush from './HeroBrush.astro';
import Logo from './Logo.astro';
---

<section id="start" class="hero">
    <h2 class="hero__title"><span class="sr-only">O festival será a</span><time datetime="2024-10-26">26/Out/2024</time></h2>
    <Logo />
    <p class="hero__event"><span><span class="sr-only">O local será no</span>Teatrão</span><span>Rua Pedro Nunes, Coimbra</span></p>
    <HeroBrush />
</section>
