---
import HeroBrush from './HeroBrush.astro';
import Logo from './Logo.astro';
---

<section id="start" class="hero">
    <h2 class="hero__title">Um festival independente, underground e anti-fascista!</h2>
    <Logo />
    <p class="hero__event"><time datetime="2024-10-26">26/Out/2024</time><span>Teatrão, Coimbra</span></p>
    <HeroBrush />
</section>
